@import "../../../../styles.scss";
@media (max-width: 550px) {
  h1 {
    font-size: 95px !important;
  }
}

p {
  text-align: center;
}
p a {
  color: $blue;
}
p a:hover {
  text-decoration: none;
  
}
.project {
  max-width: 400px;
  max-height: 300px;
  height: 300px;
  min-height: 280px;
  color: $white;
  padding: 10px;
  width: 100%;
  min-width: 280px;
  display: inline-block;
  margin: 20px 10px;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 0 1rem $blue;
}

.project:hover {
  .show-details-hover {
    visibility: visible;
    background-color: rgba(34, 40, 49, 0.8);
  }
}
.projects-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap;
  height: 100%;
}
.show-details-hover {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px 20px;
  border-radius: 1rem;
}

span {
  width: 100%;
  padding: 10px 0px;
}
.title {
  text-align: center;
  //margin: auto;
  font-size:25px;
}
.description {
  text-align: justify;
}
.buttons-container {
  display: flex;
  justify-content: space-around;
}
.action-button {
  border-radius: 100%;
  border: 1px solid $white;
  font-size: 20px;
  padding: 10px;
  opacity: 0.8;
  color:$white;
}
.action-button:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.4s;
  color:$white;
  // border:1px solid $blue;
}

