<section>
    <div class="center">
      <h1>Projects</h1>
      <article>
        <p>
          Here are a few project made by me. A lot of more you can find on my <a href="https://github.com/mateuszKrawczak">github</a> account.
        </p>
        <ng-container >
          <li class="projects-container">
        <div class="project"  *ngFor="let project of projects;index as i" style="background-image: url(../../../../assets/{{project.photos[0]}});background-position: center;
        background-size: cover;"><div class="show-details-hover" ><span class="title">{{project.name}}</span><span class="desc">{{project.description}}</span><span class="buttons-container"><a class="action-button" href="{{project.link}}"> <fa-icon id="linkIcon" [icon]="linkIcon"></fa-icon></a><a (click)="showGallery(i)" class="action-button"><fa-icon id="imagesIcon" [icon]="imagesIcon"></fa-icon></a></span></div></div>
         
        </li>
      </ng-container>
      <ngx-gallery #gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </article>
    </div>
  </section>