@import "../../../../styles.scss";

section {
  width: 100%;
  margin-top: 100px;
  //min-height:500px;
}
.center {
  //display:flex;
  // align-items:center;
  margin: auto;
  max-width: 90%;
}
h1 {
  font-size: 10rem;
  font-weight: bold;
  opacity: 0.3;
  z-index: 0;
  color: $blue;
}
article {
  width: 100%;
  max-width: 80%;
  background-color: $grey;
  //box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
  box-shadow: 0 0 1rem $blue;
  padding: 30px;
  position: relative;
  //display: flex;
  left: 20%;
  transform: translateY(-50%);
  letter-spacing: 2px;
  z-index: 1;
  color: white;
  text-align:justify;
}
p {
  font-size: 1.3rem;
  //display: flex;
  padding-top:10px;
  color: $white;
}
@media (max-width: 950px) {
  h1 {
    font-size: 120px;
  }
  article {
    margin: auto;
    left: 10%;
    transform: translateY(-30%);
    padding: 20px;
  }
  section {
    margin-top: 40px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 100px;
  }
  article {
    left: 0%;
    transform: translateY(-20%);
    padding: 20px;
  }
  section {
    text-align: center;
    margin-top: 20px;
  }
}

.photo {
  width: 200px;
  height: 200px;
  background-image: url("../../../../assets/kante.jpg");
  background-position: center;
  background-size: cover;
  border-radius:50%;
  box-shadow: 0 0 1rem $blue;
  margin:auto;
  margin-bottom:20px;
}
