<section>
    <div class="center">
      <h1>Skills</h1>
      <article>
        <p>
          As a future frontend developer I want all the time learn more and more web technologies like:
          HTML5, SCSS or JavaScript. I have good knowledge already in this area. My favourite JavaScript framework is Angualar.
          Except my frontend skills I have expierience in backend.  
          I completed coding course in .NET technology organised by Academic Circle Kredek. Technologies familiar to me are below.
          <li class="technologies"><fa-icon [icon]="angularIcon"></fa-icon><fa-icon [icon]="htmlIcon"></fa-icon></li>
          <a href="../../../../assets/2019-2_13_Mateusz_Krawczak.pdf">Check my certificate <fa-icon [icon]="userGraduateIcon"></fa-icon> </a>
        </p>
      </article>
    </div>
  </section>
