<section>
  <div class="center">
    <h1>Skills</h1>
    <article>
      <p>
        As a future frontend developer I want all the time learn more and more
        web technologies like: HTML5, CSS3 or JavaScript. I have good knowledge
        already in this area. My favourite JavaScript framework is Angualar.
        Except my frontend skills I have expierience in backend. I completed
        coding course in .NET technology organised by Academic Circle Kredek.
        Technologies familiar to me are below.
        <li class="technologies">
          <div class="inline-block">
            <fa-icon id="angularIcon" [icon]="angularIcon"></fa-icon>
            <fa-icon id="htmlIcon" [icon]="htmlIcon"></fa-icon>
          </div>
          <div class="inline-block">
            <fa-icon id="cssIcon" [icon]="cssIcon"></fa-icon>
            <fa-icon id="javaScriptIcon" [icon]="javaScriptIcon"></fa-icon>
          </div>
          <div class="inline-block">
            <fa-icon id="nodeIcon" [icon]="nodeIcon"></fa-icon>
            <fa-icon id="javaIcon" [icon]="javaIcon"></fa-icon>
          </div>
          <div class="inline-block">
            <fa-icon id="npmIcon" [icon]="npmIcon"></fa-icon>
            <fa-icon id="gitIcon" [icon]="gitIcon"></fa-icon>
          </div>
        </li>
        <a href="../../../../assets/2019-2_13_Mateusz_Krawczak.pdf"
          >Check my certificate <fa-icon [icon]="userGraduateIcon"></fa-icon>
        </a>
      </p>
    </article>
  </div>
</section>
