@import "../../../../styles.scss";

h1 {
  text-align: right;
}
article {
  left: 0% !important;
  margin: 0 !important;
}

@media (max-width: 950px) {
  article {
    left: 0% !important;
  }
}
@media (max-width: 550px) {
  h1 {
    text-align: center;
  }
  article {
    right: 0%;
    margin: auto !important;
  }
}
a {
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 100%;
  font-size: 18px;
  color: $blue !important;
  transition: 0.2s;
  background-color: $backgroundColor !important;
  box-shadow: 0 0 0.5rem $blue;
}
a:hover {
  color: $grey !important;
  text-decoration: none !important;
  background: $blue !important;
  transition: 1s !important;
  box-shadow: 0 0 10px $blue, 0 0 40px $blue, 0 0 80px $blue;
}
a fa-icon {
  padding-left: 10px;
}
.technologies {
  text-align: center;
  padding: 40px 0;
  font-size: 100px;
  margin: auto;
}
li {
  list-style: none;
}
li fa-icon {
  color: $white;
  padding: 0 35px;
}
li fa-icon:hover {
  cursor: pointer;
}
#gitIcon {
  margin-right: 0px;
}
#angularIcon:hover {
  color: #da0b37;
}
#htmlIcon:hover {
  color: #e54d26;
}
#cssIcon:hover {
  color: #28a9e0;
}
#javaScriptIcon:hover {
  color: #f7df1d;
}
#nodeIcon:hover {
  color: #70a763;
}
#javaIcon:hover {
  color: #ca3838;
}
#gitIcon:hover {
  color: #f35434;
}
#npmIcon:hover {
  color: #d30404;
}