@import  '../../../styles.scss';

footer{
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    height:60px;
    background-color:$grey;
    color:$blue;
    display:flex;
    align-items: center;
    justify-content:center;
}