<section>
  <div class="center">
    <h1>Contact</h1>
    <article>
      <p>
        You can find me on my social medias. Just click one of these icons.
      </p>
      <div class="icons-container">
          <a id="iconFacebook" class="social-container" href="https://www.facebook.com/mateusz.krawczak.79"><fa-icon  [icon]="iconFacebook"></fa-icon>
          </a>
          <a id="iconLinkedin" class="social-container" href="https://www.linkedin.com/in/mateusz-krawczak-605145195/"> <fa-icon  [icon]="iconLinkedin"></fa-icon>
          </a>
          <a id="iconGithub" class="social-container" href="https://github.com/mateuszKrawczak"><fa-icon  [icon]="iconGithub"></fa-icon>
          </a>
          <a id="iconInstagram" class="social-container" href="https://www.instagram.com/matson.19/">  <fa-icon  [icon]="iconInstagram"></fa-icon>
          </a>
      </div>
      <p>
        If you want more informations, just write to me on e-mail.
      </p>
      <div class="email-container">mateuszkrawczak19@gmail.com</div>
    </article>
  </div>
</section>
